body {
    margin: 10px;
    padding: 10px;
    background-color: rgb(231, 209, 209);
}

.navigointipalkki {
    color:black;

}

.navigointipalkki .nav-link {
    color: black;

}



.carousel-container {
    width: 35%;
    margin: 0 auto;

}

.carousel-container .carousel-inner {
    width: 100%;        /* Varmistaa, ett채 karuselli t채ytt채채 kontainerinsa leveyden */
  }

#ekasivun_ekapalsta {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}